@import '../../constants.scss';

.user-info__container,
.user-info__avatar-container {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info__container {
	padding-bottom: $bottom-spacing;
	margin-bottom: $bottom-spacing;
  	border-bottom: $border-standard;
}

.user-info__avatar-img {
	width: 70px;
    height: 70px;
    margin-right: 15px;
}

.user-info__cta {
	color: $positive;
	cursor: pointer;
}
